# VS Code
.vscode/

# Python
__pycache__/
*.egg-info/
.venv/
env/
*.ipynb_checkpoints
code/

# Checkpoints & weights
*.pth
*.ckpt
*.h5

# Arrays
*.npz
*.npy

# 大型データ・DB類（誤アップロード防止）
*.tar
*.tar.gz
*.zip
*.gz
*.bz2
*.xz
*.7z
*.fastq
*.mmdb
*.ffindex
*.ffdata
*.fasta
*.csv
*.ali
*.pt
*.log
*.png
*.pkl
*.txt


# OS
.DS_Store
Thumbs.db

LucaOneTasks/
RoseTTAFold2NA/
RNA-BAnG/
log/
mmcif_protein_rna/
ppi3d_pdb_cache/
pdb_cache/